/*General styles*/
:root {
  --text-font-family: "Roboto", sans-serif;
  --text-font-color: #212121;
  --main-bacground-color: #ffffff;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

/* B3 MARGIN RESET FOR INLINE ELEMENTS */
a,
b,
button,
br,
img,
span {
  margin-left: 0;
  margin-right: 0;
}

img {
  display: block;
  max-width: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--text-font-family);
  color: var(--text-font-color);
  background-color: var(--main-bacground-color);
  margin: 0;
}

/**/
.page-width {
  max-width: 1600px;
  margin: auto auto;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.section-bottom {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-top {
  padding-top: 94px;
}
.list {
  list-style: none;
}
/*Navigation Section*/
.main-header-container {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: #ececec;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #212121;
  margin-right: 93px;
  padding: 24px 0 25px 0;
}
.logo span {
  color: #2196f3;
}
.navigation-links {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
}

.navigation-list a:hover,
.navigation-list a:focus {
  outline: none;
  color: #2196f3;
  transition: color var(--transition);
}
.navigation-list a:hover::after,
.navigation-list a:focus::after,
.navigation-list a:active::after {
  display: block;
}
.navigation-links a {
  position: relative;
}
.navigation-list a::after {
  position: absolute;
  content: "";
  display: none;
  background: #2196f3;
  width: 100%;
  height: 3px;
  bottom: -29px;
  left: 0;
  border-radius: 2px;
}
.navigation-list li {
  display: flex;
  margin: 0px 50px 0px 0px;
  padding: 32px 0px;
}

.navigation-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.navigation-links a {
  text-decoration: none;
  color: #212121;
  margin-right: 1px;
}

.navigation-links a:hover,
a:active {
  color: #2196f3;
  transition: color var(--transition);
}
.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.contacts .icon {
  height: 16px;
  width: 12px;
  margin-right: 10px;
  fill: #757575;
}
.contact-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  margin: 0px 40px 0px 0px;
  padding: 32px 0px;
}

.contacts .contact-links:hover,
.contacts .icon:hover,
.contacts .contact-links:focus,
.contacts .icon:focus {
  fill: #2196f3;
  color: #2196f3;
  transition: color var(--transition);
}

/*Hero Section */
.hero-section {
  background-image: linear-gradient(
      135deg,
      rgba(196, 196, 196, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  padding: 200px 0 px;
}
.hero-container {
  text-align: center;
  min-height: 600px;
}
.hero-container h1 {
  padding-top: 200px;
  margin-bottom: 30px;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
}
.hero-container button {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
  letter-spacing: 0.06em;
  padding: 10px 19px 10px 20px;
  margin-top: 40px;
  border-radius: 4px;
}
.hero-container button:hover,
.hero-container button:focus {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: box-shadow var(--transition);
}

/*About us description*/
.about-us h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.about-us p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
  margin-top: 10px;
}
.about-us-description-list {
  display: flex;
}

.about-us-description-item {
  margin-right: 30px;
  flex-basis: calc((100% - 75px) / 4);
}
.about-us-description-item:last-child {
  margin-right: 0px;
}
.about-us-description-item svg {
  width: 70px;
  height: 70px;
}
.border-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
/*About us what we do*/
.about-us-what-we-do {
  display: flex;
}

.about-us-what-we-do li {
  margin-right: 30px;
  display: flex;
}
.about-us-what-we-do li:last-child {
  margin-right: 0px;
}

.thumb {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}
.thumb > .label {
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
/*Our team*/

.our-team-section {
  background-color: #f5f4fa;
}
.section-sub-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}

.profile-card {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  font-weight: 500;
  text-align: center;
  color: #212121;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 72px) / 4);
  margin-right: 30px;
  background-color: #ffffff;
}
.profile-card:last-child {
  margin-right: 0px;
}
.profile-container {
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
.our-team {
  display: flex;
}
.our-team li .profile-container p {
  color: #757575;
  font-weight: 400;
}
.profile-container h4 {
  margin-bottom: 10px;
}
.social-media-icons .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  color: #afb1b8;
  border-radius: 50%;
}
.social-media-icons svg {
  height: 20px;
  width: 20px;
}
.social-media-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}
.profile-card .social-media-icons .icon:hover,
.find-us-on .icon:hover,
.profile-card .social-media-icons .icon:focus,
.find-us-on .icon:focus {
  background: #2196f3;
  color: #ffffff;
  transition: color var(--transition);
}

/*our customers*/
.customers-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.customers-list svg {
  width: 106px;
  height: 60px;
}
.customers-list .customer-link .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.customers-list .customer-link .icon:hover,
.customers-list .customer-link .icon:focus {
  border-color: #2196f3;
  color: #2196f3;
  transition: color var(--transition);
}
/*footer*/
.main-footer {
  background-color: #2f303a;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 60px 0;
}
.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  margin-top: 60px;
}
.logo-footer span {
  color: #2196f3;
}

.main-footer address {
  font-style: normal;
  margin-top: 28px;
  margin-bottom: 12px;
}
.main-footer p {
  margin-bottom: 12px;
}
.footer {
  display: flex;
  align-items: baseline;
}
.contact-links-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.contact-links-footer:hover,
.contact-links-footer:focus {
  color: #2196f3;
  transition: color var(--transition);
}

.find-us-on .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  color: #ffffff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.find-us-on .social-media-icons-footer svg {
  height: 20px;
  width: 20px;
}
.find-us-on {
  display: flex;
  margin-bottom: 96px;
  flex-direction: column;
  margin-left: 94px;
}
.find-us-on .social-media-icons-footer {
  display: flex;
  gap: 10px;
}
.find-us-on h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.newsletter {
  display: flex;
  margin-left: 93px;
}
.newsletter-form {
  display: flex;
  flex-direction: row;
  gap: 12px;
  font-size: 16px;
  line-height: 20px;
  align-items: flex-end;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-mail {
  display: flex;
  flex-direction: column;
}
.form-controls-news {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  position: relative;
}
.btn-newsletter {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding-top: 10px;
  padding-right: 77px;
  padding-bottom: 10px;
  padding-left: 43px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  border: none;
  outline: none;
  color: #ffffff;
  max-width: 200px;
}

.btn-newsletter:hover,
.btn-newsletter:focus {
  background: #1a78c5;
}
.form-controls-news .btn-icon {
  position: absolute;
  top: 13px;
  right: 28px;
}
.newsletter-form .subscribe {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.newsletter-form .news-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  padding: 15px 16px;
}

/* Portfolio page*/

.filtering-buttons-list {
  display: flex;
  margin: 0px 0px 50px 0px;
  justify-content: center;
}

.filtering-buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  border-radius: 4px;
  border-style: hidden;
  background: #f5f4fa;
  margin-left: 8px;
}
.filtering-buttons:hover,
.filtering-buttons:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
  transition: color var(--transition);
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-right: -30px;
  margin-bottom: -30px;
}

.project-card {
  margin-bottom: 30px;
  margin-right: 30px;
  width: 370px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.project-card-link {
  text-decoration: none;
}
.project-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: transform var(--transition);
}
.project-container {
  border-top: none;
  border-bottom: 0.5px solid var(--color-light-mode-background);
  color: var(--title-color);
  padding: 20px 24px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.project-container h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}
.project-container p {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
  margin-bottom: 20px;
}

.overlay-container {
  position: relative;
  display: inline-block;
}
.overlay {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transition: opacity 0.3s ease;
  align-items: center;
  justify-content: center;
}
.overlay-container:hover .overlay {
  opacity: 1;
}
.overlay p {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  width: 322px;
}
/*Modal*/
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(25, 28, 38, 0.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform var(--transition);
}

.modal-content {
  padding: 40px;
  background: #fff;
  width: 528px;
  height: 581px;
  margin: 0 auto;
  position: relative;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.is-hidden {
  transform: scale(1.1);
  visibility: hidden;
  pointer-events: auto;
  opacity: 0;
}

.close-btn {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000000;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  transition: color var(--transition);
}

.close-btn:hover,
.close-btn:focus {
  color: #2196f3;
  transition: background-color var(--transition);
}

/*Form*/

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}
.form-group + .form-group {
  margin-top: 10px;
}

.form-group > *:nth-child(1) {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-group > *:nth-child(2) {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  cursor: pointer;
}
.terms-text {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-group .input-with-icon {
  padding-left: 40px;
}

.form-group .input-with-icon:focus-within {
  outline: none;
  border: 1px solid #2196f3;
}
.form-group .textarea:focus-within {
  outline: none;
  border: 1px solid #2196f3;
}
.form-group:focus-within svg {
  fill: #2196f3;
}
.form-checkbox {
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  padding-top: 10px;
}

.form-checkbox > *:nth-child(2) {
  padding: 0;
  border: none;
  color: #757575;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.textarea {
  resize: none;
}

.form-controls {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  position: relative;
}

.form .input-icon {
  left: 12px;
  top: 50%;
  position: absolute;
}
.terms {
  color: rgba(33, 150, 243, 1);
}
.btn-submit {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 80px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  border: none;
  outline: none;
  color: #ffffff;
  max-width: 200px;
}

.btn-submit:hover,
.btn-submit:focus {
  background: #1a78c5;
}
